.App {
  position: relative;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 120px;
}

.add-todo {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px 60px;
  background: #ddd;
}

.todo-list {
  display: flex;
  align-items: flex-start;
  margin: 20px;
  flex-wrap: wrap;
}

.todo-list .todo {
  display: inline-flex;
  flex: 1 1 23%;
  padding: 15px;
  border: 1px solid #8d2ce7;
  margin: 10px;
  border-radius: 10px;
}

.todo-list .todo a {
  color: #22c44b;
  text-decoration: none;
}

.todo-list .todo.done {
  border: 1px solid #ddd;
}

.todo-list .todo.done a {
  pointer-events: none;
  color: #999;
}

